<h1>Info/help</h1>
<p>
This website is very simple blog. I can write a journals, and list pictures with some description<br>
Guests can visit and see my listing. They also can put comment on every listings.<br>
Writing, editing, deleting a listing requires user name and password.<br><br>
user name: user <br>
pass word: user<br>
</p>
